version: "2"
services:
  builder:
    image: openlmis/dev
    volumes:
      - '.:/app'
    entrypoint:
      - 'gradle'
    command:
      - 'clean'
      - 'build'
    environment:
      GRADLE_OPTS: '-Dorg.gradle.daemon=false'
    env_file: .env
  image:
    build: .
    image: openlmis/template-service
  template-service:
    image: openlmis/template-service
    links:
      - db
      - log
    ports:
      - "8080:8080"
    environment:
      JAVA_OPTS: '-Dlogging.config=/logback.xml'
    volumes:
      - '../logback.xml:/logback.xml'
  db:
    image: openlmis/postgres
    ports:
      - "5432"
    env_file: .env
  log:
    image: openlmis/rsyslog
    volumes:
      - '../logs/template-service:/var/log'
